.form {
  width: calc((100% - 100px) / 3);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #c4edfafa;
  margin-top: 10px;
}

.statusWrapper {
  display: flex;
  align-items: center;
}
.submitBtn {
  border: 1px solid rgb(83, 82, 82);
  margin: 10px auto;
  padding: 5px;
  min-width: 120px;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}
.submitBtn:hover,
.submitBtn:focus {
  background-color: rgb(92, 156, 209);
  transform: scale(1.05);
  color: aliceblue;
}

.errorText {
  font-size: 14px;
  color: red;
  background-color: rgb(217, 227, 230);
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
