.nfp {
  text-align: center;
  padding: 50px;
}

.title {
  margin-bottom: 40px;
}
.return {
  margin-top: 40px;
  text-decoration: underline;
  font-size: 20px;
}

.return:focus,
.return:hover {
  color: #eff319;
}
